.Strong{
    background: #F8F9F9;
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.space{
    color: black;
}
.space:hover{
    color: blue;
}
.down{
    font-size: 10px;
}
.support{
    display: flex;
    align-items: center;


}
.phone{
    color: black;
}
.phone:hover{
    color: blue;
}

.support p{
    margin-top: 15px;
    margin-bottom: 1em;
    color: black !important;
}
.language a{
    padding-left: 50px;
}
span{
    /*padding-left: 14px;*/
}
.menu-home{
    display: none;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-name: fadeInLeft;
}

@media only  screen and (max-width: 768px){

    .menu-home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .support{
        display: none;
    }
    .language{
        display: none;
    }
    .Strong{
        height: 0;
        width: 100%;
    }
    .menu-home {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
        /*opacity: 0.5;*/
        visibility: visible;
        /*background: #363f4d;*/
        top: 0;
    }
    .home-menu{
        width: 290px;
        background: white;
        height: 100vh;
        top: 0;
        opacity: 1;
        transition: .5s;
        left: 0;
        z-index: 99;
        position: fixed;
        padding: 16px;
        overflow-y: scroll;
    }
    .menu-home .overlay {
        opacity: 0.5;
        background: #363f4d;
        width: 100%;
        height: 100vh;
        z-index: 99;
        position: fixed;
        transition: .5s;
        top: 0;
    }

    ::-webkit-scrollbar-thumb{
        background: gray;
    }
    .canvas_close{
        display: flex;
        justify-content: end;
        /*top: 20px;*/
        /*position: absolute;*/
        margin-bottom: 10px;
    }
    .circle-btn {
        border-radius: 50%;
        /*padding: 16px;*/
        background-color: white;
        border: 1px solid #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 32px;
        height: 32px;
    }
    .menu-home .home-menu .canvas_close button{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        width: 32px;
        height: 34px;
        display: block;
        text-align: center;
        line-height: 34px;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        cursor: pointer;
        align-items: center;

    }
    .header_support p{
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: black;
    }
    .header_support{
        margin-right: 0;
        padding-right: 0;
    }
    .header_support p a{
        color: #282c34;
    }
    .header_support p a:hover{
        color: #2e6ed5;
    }
    .ant-space-item .anticon svg{
        font-size: 12px;
    }
    .header_account > ul {
        display: flex;
        padding: 0;
        gap: 16px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .bottom ul li .ant-space-item .anticon svg{
        font-size: 13px;
    }
    .search_box{
        border: 1px solid #ebebeb;
        margin-bottom: 22px;
        position: relative;
        width: 100%;
        border-radius: 0 5px 5px 0
    }
    .search_box input {
        font-size: 12px;
        padding: 0 92px 0 10px;
        width: 100%;
        height: 34px;
        border: none;
    }
    .search_box button {
        height: 34px;
        font-size: 12px;
        text-transform: uppercase;
        border: 0;
        position: absolute;
        background: #2e6ed5;
        color: #fff;
        font-weight: 500;
        padding: 0 20px;
        min-width: 128px;
        border-radius: 0 5px 5px 0 !important;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
    }
    .search_box button {
        min-width: 78px;
        padding: 0 17px;
        right: 0;
    }
    .ant-dropdown{
        overflow-y: scroll;
    }
    ::-webkit-scrollbar-thumb .ant-dropdown{
        background: gray;
    }
    ::-webkit-scrollbar .ant-dropdown{
        width: 10px;
    }
    .menu_item ul{
        display: block !important;
        padding: 0 ;
    }
    .menu_item ul li{
        display: block !important;
        font-size: 20px;
        padding: 10px 0;

    }
    .menu_item{
        /*margin-top: 40px;*/
    }
    .menu_item ul .lis{
        border-top: 1px solid #ebebeb;
    }
    .menu_item ul li a{
        font-size: 14px;
    }
    .Offcanvas_footer{
        text-align: center;
    }
    .Offcanvas_footer span a{
        color: #2e6ed5;
        font-size: 15px;
    }
    .Offcanvas_footer span {
       padding-left: 0;
    }

    .Offcanvas_footer ul li a{
        font-size: 30px;
        cursor: pointer;

    }
    .Offcanvas_footer ul li {
        /*display: flex;*/
    }
    .Offcanvas_footer ul  {
        display: flex;
        gap: 6px;
        padding: 0;
        justify-content: center;
        margin: 0;
    }


}

