.container{
    background: #fff;
    padding: 30px 50px;
}
ul li{
   display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
}
.logo{
    justify-content: center;
    align-items: center;
    display: flex;
}
a:hover{
    color: #2e6ed5;
}
.especially{
    color: #2e6ed5 !important;
}

.ul-menu{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
.ul-menu li {
    padding: 0 16px
}
.ul-menu li a{
    text-transform: uppercase;
    font-weight: 500;
}.logo-icon{
    display: none;
 }
@media only screen and (max-width: 768px) {
    .ul-menu{
        display: none;
    }
   .logo-icon{
       font-size: 25px;
       color: #363f4d;
       width: 43px;
       height: 40px;
       display: block;
       line-height: 39px;
       text-align: center;
       border: 1px solid #ebebeb;
       cursor: pointer;
       background: white;
   }
   .container .ant-col-18{
       display: flex;
       justify-content: end;
   }

}
