.card-img{
    padding-left: 50px;
    width: 95%;
}
.content ul li{
    padding-top: 10px;
    display: inline-block;
    padding-left: 15px;
}
.content ul li a{
    color: black;
}
.content ul li a:hover{
    color: #2e6ed5;
}
.menu-shop{
    padding: 20px 50px;
}
.site-card-border-less-wrapper .ant-card .ant-card-body .price-shop li{
    display: block;
    border-top: 1px solid #ebebeb;
    padding: 13px 0;
}
.site-card-border-less-wrapper {
    margin-bottom: 50px;
    border: 1px solid #ebebeb;

}
.site-card-border-less-wrapper .ant-card .ant-card-body{
    padding: 0 !important;
}
.submit{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: capitalize;
    color: #ffffff;
    background: #363f4d;
    border: 0;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}
.site-card-border-less-wrapper .filter{
    padding: 20px !important;
}
.submit:hover{
    background: #2e6ed5;
    color: white;
}
.shop-laptop img{
    width: 100px;
}
.shop-laptop {
    padding: 10px;
    display: flex;
}
.shop-rate{
    font-size: 14px !important;
}
.banner_thumb img{
    width: 315px;
}
.banner_thumb {
    margin-bottom: 50px;
}
.site-card-border-less-wrapper .ant-card .ant-card-body .btn-p{
    margin: 0 5px 12px 0;
    padding: 5px 15px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid #ebebeb;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.site-card-border-less-wrapper .ant-card .ant-card-body .btn-p:hover {
    background: #2e6ed5;
    color: white;
}

.shop-card{
    padding: 20px;
}
.shop_toolbar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 13px 20px;
    margin: 0 10px 30px
}
.shop-tool{
    color: #282c34;
    text-align: center;
    cursor: pointer;
    border: none;
    background: white;
    font-size: 20px;
    margin-right: 10px;
}
.page_amount p{
    color: #282c34;
    margin-bottom: 0;
    margin-top: 0;
}

.shop-contact .ant-card .ant-card-cover img{
    width: 200px !important;

}
.shop-contact .ant-card .ant-card-cover {
   padding: 20px 10px;

}
.shop-contact{

    padding: 10px !important;

}
.shop-contact .ant-col{
    display: flex !important;


}
.shop-contact .shop-duct .ant-col .ant-card{
    margin: 10px 15px;
}
.shop-details{
    padding: 5px 10px;
}
.toolbar{
    display: none;
}
.nones{
    display: none;
}

@media only screen and (max-width: 768px){


    .menu-shop{
        display: none;
    }
    .toolbar{
        display: flex;
    }
    .shop_toolbar_wrapper {
        margin: 5px 37px 30px;
    }
    .shop-contact{
        display: block;
    }
    .nones{
        display: block;
    }
    .site-card-border-less-wrapper {
        margin-bottom: 50px;
        border: 1px solid #ebebeb;
        margin-top: 20px;
        width: 712px;

        margin-left: 30px;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

}